@import "tailwindcss";
@import "./resets.css";
@import "./page.css";
@import "./fonts.css";
@import "./typography.css";

@theme {
  /* --*: initial; */

  --color-white: #ffffff;
  --color-black: #000000;
  --color-offblack: #111111;
  --color-orange: #e87a07;
  --color-warm-grey: #b6aea6;
  --color-rich-brown: #2e1e15;

  --breakpoint-sm: 400px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1800px;

  --spacing: 4px;

  --font-sans: "Season Sans", sans-serif, system-ui;
  --font-mix: "Season Mix", serif, system-ui;

  --text-13: 0.8125rem; /* 13px */
  --text-14: 0.875rem; /* 14px */
  --text-15: 0.9375rem; /* 15px */
  --text-16: 1rem; /* 16px */
  --text-18: 1.125rem; /* 18px */

  --tracking-sm: 0.06em;
  --tracking-lg: 0.15em;
}

:root {
  --app-inner-gutter: --spacing(5);

  @variant md {
    --app-inner-gutter: --spacing(16);
  }
}
