@import url("./fonts.css");
@import url("./resets.css");
@import url("./page.css");
@import "tailwindcss";

@theme {
  --font-sans: "Season Sans", sans-serif, system-ui;
  --font-display: "Season Mix", serif, system-ui;

  --color-primary: #e87a07;
  --color-grey: #b6aea6;
  --color-offblack: #111111;
}
