@import "tailwindcss";
@import "./fonts.css";
@import "./resets.css";
@import "./page.css";

@theme {
  --font-sans: "Season Sans", sans-serif, system-ui;
  --font-display: "Season Mix", serif, system-ui;

  --color-primary: #e87a07;
  --color-grey: #b6aea6;
  --color-offblack: #111111;
}
