.t-lg {
  font-size: var(--text-16);
  line-height: calc(24 / 16);
  letter-spacing: var(--tracking-sm);

  @variant md {
    font-size: var(--text-18);
    line-height: calc(26 / 18);
  }
}

.t-md,
.t-md-mix,
.t-md-mix-caps {
  font-size: var(--text-15);
  line-height: calc(24 / 15);
  letter-spacing: var(--tracking-sm);

  @variant md {
    font-size: var(--text-16);
    line-height: calc(24 / 16);
  }
}

.t-md-mix,
.t-md-mix-caps,
.t-sm-mix-caps,
.t-xs-mix-caps {
  font-family: var(--font-mix);
}

.t-md-mix-caps,
.t-sm-mix-caps,
.t-xs-mix-caps {
  text-transform: uppercase;
  letter-spacing: var(--tracking-lg);
}

.t-sm-mix-caps {
  font-size: var(--text-13);
  line-height: calc(22 / 13);

  @variant md {
    font-size: var(--text-14);
    line-height: calc(22 / 14);
  }
}

.t-xs-mix-caps {
  font-size: var(--text-12);
  line-height: calc(22 / 12);

  @variant md {
    font-size: var(--text-13);
    line-height: calc(22 / 13);
  }
}
